<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul {
            list-style: none;
            align-items: flex-start;
        }

        img {
            width: 1000px;
            height: 1000px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <ul>
        <% for (let product of products){%>
            <li>
                <div class="card col-md-3 col-10 mt-5">
                    <img class='img-thumbnail' src="<%= product.thumbnail %>" />
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <%= product.name %>
                        </h5>
                        <p class="card-text">
                            <%= product.price %>원
                        </p>
                    </div>
                </div>
            </li>
            <% } %>
    </ul>
</body>

</html>