<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
    <style>
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: cornflowerblue;
        }

        img {
            object-fit: cover;
        }
    </style>
</head>

<body>
    <ul>
        <% for (let product of products){%>
            <a href="/products/<%= product.id %>">
                <li>
                    <div class="card m-1">
                        <img class='img-thumbnail' src="<%= product.thumbnail %>" />
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <%= product.name %>
                            </h5>
                            <p class="card-text">
                                <%= product.price %>원
                            </p>
                        </div>
                    </div>
                </li>
            </a>
            <% } %>
    </ul>
</body>

</html>