@import "canvas.css";
@import "tools.css";

:root {
    --green: forestgreen;
    --normal-border: 5px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
