.tools {
    width: 15%;
}

.tools__line,
.tools__color,
.tools__mode,
.tools__img,
.tools__text,
.tools__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 37px 0;
}

.title {
    font-size: 23px;
    font-weight: 800;
    color: var(--green);
    margin-bottom: 20px;
}

.colors {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.color-option,
.color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.mode-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mode-btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--green);
    background-color: var(--gray);
}

#img-input {
    display: none;
}

.tools__img label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--green);
    background-color: var(--gray);
}

.img-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 100%;
}

.text-input {
    width: 100%;
    border: none;
    background-color: var(--gray);
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text-input::placeholder {
    padding: 5px;
    color: var(--green);
}

.download-btn {
    width: 100%;
    background-color: var(--green);
    color: white;
    height: 30px;
    border-radius: 10px;
    border: none;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

 /* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--gray);
    border-radius: 0.5rem;
    height: 0.5rem;
}

 /* slider thumb */
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: var(--green);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid var(--gray);
    outline: 1px solid var(--gray);
    outline-offset: 0.125rem; 
}