.my-img {
    display: flex;
    flex-direction: column;
    width: calc(var(--entire-width) / 2);
    position: relative;
}

.my-img__btns {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-img__btns button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 3px;
}

.my-img img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.my-img .input-form {
    height: 20%;
}