.my-links {
    width: calc(var(--entire-width) / 3);
    display: flex;
    flex-direction: column;
}

.my-links .title {
    padding: var(--rl-padding);
    height: 20%;
}

.my-links__list {
    height: 65%;
    overflow-y: scroll;
    padding: 0 calc(var(--rl-padding) + 10px);
}

.my-links .input-form {
    height: 15%;
}

.my-links .input-form .inputs {
    width: var(--input-width);
    display: flex;
    flex-direction: column;
}

.my-links .input-form .inputs input {
    width: 100%;
    height: 50%;
}