.now {
    width: calc(var(--entire-width) / 3);
}

.today,
.clock,
.weather,
.city {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.today {
    font-size: 30px;
    height: 25%;
}

.clock {
    font-size: 70px;
    font-weight: 600;
    height: 40%;
}

.weather {
    font-size: 20px;
    height: 15%;
}

.city {
    font-size: 20px;
    height: 15%;
}