.todo-list {
    display: flex;
    flex-direction: column;
    width: calc(var(--entire-width) / 3);
    height: 100%;
}

.todo-list .title {
    padding: var(--rl-padding);
    height: 20%;
}

.todo-list__list {
    height: 65%;
    overflow-y: scroll;
    padding: 0 calc(var(--rl-padding) + 10px);
}

.todo-list__list li {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.todo-list__list button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: none;
    font-size: 20px;
}

.todo-list .input-form {
    height: 15%;
}
