/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 50px;
  text-align: center;
}

footer {
  background: #f2f2f2;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  bottom: 0px;
  width: 100%;
}

nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}

.banner img {
  max-width: 100%;
  display: block;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.product-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.featured-slide {
  display: none;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.featured-slide.active {
  display: flex;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
}

.banner h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 10px;
}

.shop-now-btn {
  background-color: #f59e0b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

.shop-now-btn:hover {
  background-color: #d97706;
}

.banner-text-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
}

.banner-text-slider {
  display: flex;
  animation: scrollText 16s linear infinite;
}

.text-item {
  flex: 0 0 100%;
  font-size: 1.2em;
  padding: 10px 0;
  white-space: nowrap;
  text-align: center;
  color: #333;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}