/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
}

header {
  padding: 50px;
  text-align: center;
}

footer>.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}


.product-grid {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.product-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.featured-slide {
  display: none;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.featured-slide.active {
  display: flex;
}

.shop-now-btn {
  background-color: #f59e0b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

.shop-now-btn:hover {
  background-color: #d97706;
}

.text-item {
  flex: 0 0 100%;
  font-size: 1.2em;
  padding: 10px 0;
  white-space: nowrap;
  text-align: center;
  color: #333;
}

.wishListButtonForm {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wishListButton {
  font-size: 20px;
  color: white;
}

.wishListButton:hover {
  color: lightcoral;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}