@import "variables.css";
@import "reset.css";

/* components */
@import "components/layouts.css";
@import "components/input-form.css";

/* contents */
@import "contents/contents.css";
@import "contents/user-comment.css";
@import "contents/my-quote.css";
@import "contents/my-img.css";
@import "contents/now.css";
@import "contents/my-links.css";
@import "contents/todo-list.css";

@import "for-js.css";

* {
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
}