.greeting-header {
    text-align: center;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting-header__title {
    font-size: x-large;
    font-weight: 350;
    margin-bottom: 50px;
}

.greeting-header__text {
    font-weight: 300;
    width: 55%;
    opacity: 60%
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
}

#login-form input {
    border: none;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    margin: 10px 0;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    transition: border 0.5s ease-in-out;
}

#login-form input::placeholder {
    color: rgb(0, 0, 0, 0.2);
}

#login-form input:not([type="submit"]):focus {
    border-bottom: 1px solid var(--yellow);
}

#login-form input[type="submit"] {
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.05);
    transition: background-color 0.5s ease-in-out;
}

#login-form input[type="submit"]:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
}