.input-form {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid black;
}

.input-form input {
    display: flex;
    align-items: center;
    width: var(--input-width);
    height: 100%;
    border: none;
    padding: var(--rl-padding);
}

.input-form input:focus {
    background-color: var(--gray);
}

.input-form button {
    width: var(--btn-width);
    height: 100%;
    background-color: black;
    color: white;
}