.first-layout {
    height: var(--first-layout-height);
}

.second-layout {
    height: calc(var(--entire-height) - var(--first-layout-height) - var(--third-layout-height));
}

.third-layout {
    height: var(--third-layout-height);
}

.first-layout,
.second-layout,
.third-layout {
    display: flex;
    background-color: black;
}