.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
    font-size: 10px;
    font-weight: 600;
    color: white;
}
.nav .badge {
    animation: bounce2 1.8s ease infinite;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}