.icons-row {
    display: flex;
    width: 100%;
    height: 100px;
    
}

.icons-row__icon {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icons-row__icon span {
    font-size: 15px;
    text-align: center;
    height: 30%;
    display: flex;
    align-items: center;
}