.list-view {
    padding: 15px 0;
    margin: 0 var(--horizontal-space);
    border-top: var(--gray-border);
    color:rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}