.nav {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color:rgba(0, 0, 0, 0.7);
    position: relative;
}

.nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav__alarm {
    display: flex;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: tomato;
    position: absolute;
    left: 30px
}