.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-top: 25px;
}

.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icon i {
    margin-left: 25px;
}