.screen-header-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--horizontal-space);
    top: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.screen-header-alt__column {
    width: 33%;
}

.screen-header-alt__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.screen-header-alt__column:last-child {
    display: flex;
    justify-content: flex-end;
}

.screen-header-alt__column:last-child i {
    margin-left: 15px;
}

.screen-header-alt__column span {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}