.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--horizontal-space);
    margin-top: 25px;
}

.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icon {
    display: flex;
    align-items: center;
}

.screen-header__icon i {
    margin-left: 25px;
}

.screen-header__icon a {
    position: relative;
}

.screen-header__alarm-dot {
    position: absolute;
    left: 50px;
    bottom: 15px;
}


@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

.screen-header .fa-gear:hover {
    animation: elastic-spin 2s infinite ease;
}