.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 2;
    box-sizing: border-box;
}

.status-bar__column {
    width: 25%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-half {
    margin: 0 5px;
}